{% extends 'base.html' %}

{% block title %} index Ossature {% endblock %}

{% block entete %}
        <h1 >Projet Ossature</h1>
        <h2 >version: 0.1</h2>
        <div class="w3-container">
                <div class="w3-bar w3-lime">
                    <a href="/" class="w3-bar-item  w3-button  w3-hover-green">Accueil</a>
                    <a href="tableau" class="w3-bar-item  w3-button    w3-hover-green">Tableau de bord</a>
                    <a href="requete" class="w3-bar-item  w3-button   w3-hover-green">requête SQL</a>
                </div> 
            </div>
{% endblock %}


{% block content %}
<div class="w3-container">
    <h2>Bienvenue!</h2>
    <p>Vous êtes sur la page d'acceuil.</p>
  
    <div class="w3-card-4" style="width:50%;">
      <header class="w3-container w3-blue">
        <h3>Présentation</h3>
      </header>
  
      <div class="w3-container">
        <p>Le site fait la démonstration de plusieurs technologie:</p>
        tout d'abord un serveur Flask fournit les pages web et permet 
        de souscrire et publier des sujets sur un broker MQTT.
        <p>La page tableau de bord utilise les websocket pour communiquer 
            de façon bidirectionnelle avec le serveur</p>
        <p>La page requête SQL communique en POST/GET avec le serveur</p>
        <p>Le style des pages est assuré par w3.css.</p>
      </div>
  
      <footer class="w3-container w3-blue">
        <h5>à bientôt</h5>
      </footer>
    </div>
  </div>
    
{% endblock %}