{% extends 'base.html' %}


{% block title %} Base de données {% endblock %}

{% block entete %}
        <h1 >Requête SQL</h1>
        <h2 >mode POST GET</h2>
        <div class="w3-container">
            <div class="w3-bar w3-lime">
                <a href="/" class="w3-bar-item  w3-button  w3-hover-green">Accueil</a>
                
            </div> 
        </div> 
{% endblock %}


{% block content %}
<form method="post">
    <div class="w3-container">
    <label class="w3-text-teal"><b>Requête SQL</b></label>
    </div>
    <div class="w3-container">
    <textarea name="content" placeholder="entrer votre requête SQL ici."
        class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="w3-container">
        <button type="submit" class="w3-button w3-purple">Envoyer</button>
    </div>
</form>


    
<div class="w3-container">       
    {{ table|safe }}
</div>   
{% endblock %}