<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="w3-container w3-teal">
        {% block entete %} {% endblock %}   
    </div>
    
      
    

    <!-- websocket -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

    <script>
        var socket = io();
 
    </script>

    <div class="w3-container">
        {% block content %} {% endblock %}
    </div>

</body>

</html>