{% extends 'base.html' %}

{% block title %} index Ossature {% endblock %}

{% block entete %}
        <h1 >Projet Ossature</h1>
        <h2 >version: 0.1</h2>
        <div class="w3-container">
                <div class="w3-bar w3-lime">
                    <a href="/" class="w3-bar-item  w3-button  w3-hover-green">Accueil</a>
                    <a href="tableau" class="w3-bar-item  w3-button    w3-hover-green">Tableau de bord</a>
                    <a href="requete" class="w3-bar-item  w3-button   w3-hover-green">requête SQL</a>
                </div> 
            </div>
{% endblock %}


{% block content %}
<div class=" ">
    <h2>Bienvenue!</h2>
    <p>Vous êtes sur la page d'acceuil.</p>
  
    <div class="w3-third w3-card" >
      <header class="w3-container w3-blue">
        <h3>Présentation</h3>
      </header>
  
      <div class="w3-container">
        <p>Le site fait la démonstration de plusieurs technologie:</p>
        tout d'abord un serveur Flask fournit les pages web et permet 
        de souscrire et publier des sujets sur un broker MQTT.
        <p>La page tableau de bord utilise les websocket pour communiquer 
            de façon bidirectionnelle avec le serveur</p>
        <p>La page requête SQL communique en POST/GET avec le serveur</p>
        <p>Les QRcodes permettent au smartphone de se connecter facilement
          au point d'accès wifi puis au site web fournit par le serveur Flask.
        </p>
        <p>Le style des pages est assuré par w3.css.</p>
      </div>
  
      <footer class="w3-container w3-blue">
      </footer>
    </div>


    <div class="w3-third  w3-card" >
      <header class="w3-container w3-yellow">
        <h3>Connectez-vous sur notre réseau wifi!</h3>
      </header>
      <div class="w3-container  w3-center">      
        <img src={{qrcode1}} >     
      </div>
      <footer class="w3-container w3-yellow">
        <h6>{{qrTexte1}}</h6>
      </footer>
    </div>

    <div class="w3-third  w3-card" >
      <header class="w3-container w3-green">
        <h3>Puis rejoignez notre site!</h3>
      </header>
      <div class="w3-container  w3-center">      
        <img src={{qrcode2}} >     
      </div>
      <footer class="w3-container w3-green">
        <h3>{{qrTexte2}}</h3>
      </footer>
    </div>


</div>
    
{% endblock %}