{% extends 'base.html' %}

{% block title %} Tableau de bord {% endblock %}

{% block entete %}
        <h1 >Tableau de bord</h1>
        <h2 >mode websocket</h2>
        <div class="w3-container">
            <div class="w3-bar w3-lime">
                <a href="/" class="w3-bar-item w3-button   w3-hover-green">Accueil</a>
                
            </div> 
        </div> 
{% endblock %}

{% block content %}
<div class="w3-container">
    <div class="w3-display-container w3-text-white">
      <img src="{{ url_for('static', filename='image/aurore.jpg') }}" alt="Lights" style="width:100%">
      <div class="w3-padding w3-display-topleft">
            <button  class="w3-button w3-purple"  onclick="ledOn()">Led ON</button></div>
      <div class="w3-padding w3-display-topright">
            <input type="text" id="sortie" name="total"></div>
      <div class="w3-padding w3-display-bottomleft">
            Bottom Left</div>
      <div class="w3-padding w3-display-bottomright">
            BottomRight</div>
      <div class="w3-padding w3-display-topmiddle">
             <h1 class="w3-panel w3-pink"><p id="demo"></p> </h1> </div>
      <div class="w3-padding w3-display-left">
             <button  class="w3-button w3-purple"  onclick="ledOff()">Led OFF</button></div>
      <div class="w3-padding w3-display-right">
            </div>
      <div class="w3-padding w3-display-middle w3-xxlarge w3-text-orange w3-spin">
            <i class="fa fa-refresh"></i></div>
      <div class="w3-padding w3-display-bottommiddle">
            Bottom Mid</div>
    </div>
</div>
  

<script>
    var jeton={};
    function ledOn() {
        var topic = "ossature/actionneur/voyant/v1";
        var payload = "ON";
        var data = '{"topic": "' + topic + '", "payload": "' + payload + '"}';
        socket.emit('messageLed', data=data);
    }
    function ledOff() {
        var topic = "ossature/actionneur/voyant/v1";
        var payload = "OFF";
        var data = '{"topic": "' + topic + '", "payload": "' + payload + '"}';
        socket.emit('messageLed', data=data);
    }
    
    socket.on('reponseLed', function(message) {
        console.log("recu dans socket.on: "+message);
        if (message['payload'] == "ON"){
            //console.log(message);
            document.getElementById("demo").innerHTML = "LED allumée";
        }else{
            document.getElementById("demo").innerHTML = "LED éteinte";
        }
    });
    socket.on('temperature_t1', function(message) {
        console.log("recu dans socket.on temperature_t1: "+message);
        document.getElementById("sortie").value = message;
    });
</script>

{% endblock %}



